---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page,
.layout--single .page,
.layout--archive .archive,
.page__content,
.post-content {
  max-width: calc(100vw - 200px); //if you want more fluid width
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}